WEBSTUDIO_DOMAIN=webstudio.mathishoffmann.com
PUBLISHER_HOST=sites.mathishoffmann.com
POSTGRES_DB=webstudio
POSTGRES_USER=webstudio
POSTGRES_PASSWORD=replace-with-64-hex-characters
AUTH_SECRET=replace-with-64-hex-characters
AUTH_WS_CLIENT_ID=selfhost-webstudio
AUTH_WS_CLIENT_SECRET=replace-with-64-hex-characters
TRPC_SERVER_API_TOKEN=replace-with-64-hex-characters
PLANS=[{"name":"Pro","features":{"canDownloadAssets":true,"canRestoreBackups":true,"allowAdditionalPermissions":true,"allowDynamicData":true,"allowAuth":true,"allowContentMode":true,"allowStagingPublish":false,"maxContactEmailsPerProject":5,"maxDomainsAllowedPerUser":20,"maxDailyPublishesPerUser":20,"maxProjectsAllowedPerUser":50,"maxAssetsPerProject":350}}]
